<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Unknown branch</title></title>
        {% endif %}
    </head>
    <body>
        <div>Input decimal: <a href="/">Home</a></div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>